<div class="scrollbar-sidebar">
	<div class="app-sidebar__inner">
		<ul class="vertical-nav-menu">
		@if (ViewBag.RoleName == "promoter")
		{
			<li class="app-sidebar__heading">منو کاربری</li>

			<li>
				<a href="/DailyPromoterPlans/PromoterIndex">
					<i class="metismenu-icon pe-7s-display2"></i>
					مشاهده لیست برنامه روزانه
				</a>
			</li>
			<li>
				<a href="/DailyPromoterPlans/PromoterDailyPlanAction">
					<i class="metismenu-icon pe-7s-display2"></i>
					مشاهده برنامه امروز
				</a>
			</li>
		}
		 @if (ViewBag.RoleName == "Administrator")
		 {
				<li class="app-sidebar__heading">پروژه ها</li>
				<li>
					<a href="#">
						<i class="metismenu-icon pe-7s-diamond"></i>
						اطلاعات پایه
						<i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
					</a>
					<ul>

						<li>
							<a href="/users">
								<i class="metismenu-icon">
								</i>مدیریت کاربران
							</a>
						</li>

						<li>
							<a href="/customers">
								<i class="metismenu-icon">
								</i>مدیریت مشتریان
							</a>
						</li>

						<li>
							<a href="/stores">
								<i class="metismenu-icon">
								</i>مدیریت فروشگاه ها
							</a>
						</li>

					</ul>
				</li>



				<li>
					<a href="/projects">
						<i class="metismenu-icon pe-7s-display2"></i>
						مدیریت پروژه ها
					</a>
				</li>
			 
		 }
		 @if (ViewBag.RoleName == "supervisor")
		 {
			 <li class="app-sidebar__heading">منو کاربری</li>
			 <li>
				 <a href="/projects/SupervisorIndex">
					 <i class="metismenu-icon pe-7s-display2"></i>
					 مشاهده پروژه ها
				 </a>
			 </li>
		 }
		
		</ul>
	</div>
</div>

