@model IEnumerable<Models.DailyPromoterPlan>

@{
	ViewBag.Title = "برنامه امروز پروموتر";
}
@section styles{
	@Html.Partial("BackEndLayout/_KendoResourcesPartial")
}
<div class="col-md-12">
	<div class="main-card mb-3 card">
		<div class="card-body table-responsive">
			
			<p class="alert alert-danger" style="direction: rtl;">کاربر گرامی برای امروز برنامه ای برای شما در سیستم تعریف نشده است.</p>

		</div>
	</div>
</div>
